---
layout: project-nav
---


/ =========================Masthead=========================
%header.jumbotron.subhead#overview
	.row
		.span6
			%h1 Project Swatch
			%p.lead This swatch page shows the styling of various Bootstrap elements.
	.subnav
		%ul.nav.nav-pills
			%li<
				%a(href="#typography") Typography
			%li<
				%a(href="#navbar") Navbar
			%li<
				%a(href="#buttons") Buttons
			%li<
				%a(href="#forms") Forms
			%li<
				%a(href="#miscellaneous") Miscellaneous
			%li<
				%a(href="/#{page.style}/") Example Site

/ =========================Typography=========================
%section#typography
	.page-header
		%h1 Typography

	/ Headings & Paragraph Copy
	.row
		.span4
			.well
				%h1 h1. Heading 1
				%h2 h2. Heading 2
				%h3 h3. Heading 3
				%h4 h4. Heading 4
				%h5 h5. Heading 5
				%h6 h6. Heading 6
		.span4
			%h3 Example body text
			%p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
			%p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
		.span4
			%h3 Example addresses
			%address
				%strong Twitter, Inc.
				%br>
				\
				795 Folsom Ave, Suite 600<br/>
				San Francisco, CA 94107<br/>
				= succeed ' (123) 456-7890' do
					%abbr(title="Phone") P:
			%address
				%strong Full Name
				%br>
				\
				%a(href="mailto:#") first.last@gmail.com

/ =========================Navbar=========================
%section#navbar
	.page-header
		%h1 Navbars

	.navbar
		.navbar-inner
			.container(style="width: auto;")
				%a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.brand(href="#") Project name
				.nav-collapse
					%ul.nav
						%li.active<
							%a(href="#") Home
						%li<
							%a(href="#") Link
						%li<
							%a(href="#") Link
						%li<
							%a(href="#") Link
						%li.dropdown
							%a.dropdown-toggle(href="#" data-toggle="dropdown")<
								= precede 'Dropdown ' do
									%b.caret>
							%ul.dropdown-menu
								%li<
									%a(href="#") Action
								%li<
									%a(href="#") Another action
								%li<
									%a(href="#") Something else here
								%li.divider
								%li<
									%a(href="#") Separated link

					%form.navbar-search.pull-left(action="")
						%input.search-query.span2(type="text" placeholder="Search")

					%ul.nav.pull-right
						%li<
							%a(href="#") Link
						%li.divider-vertical
						%li.dropdown
							%a.dropdown-toggle(href="#" data-toggle="dropdown")<
								= precede 'Dropdown ' do
									%b.caret>
							%ul.dropdown-menu
								%li<
									%a(href="#") Action
								%li<
									%a(href="#") Another action
								%li<
									%a(href="#") Something else here
								%li.divider
								%li<
									%a(href="#") Separated link

	.navbar.navbar-inverse
		.navbar-inner
			.container(style="width: auto;")
				%a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				.nav-collapse
					%ul.nav
						%li.active<
							%a(href="#") Home
						%li<
							%a(href="#") Link
						%li<
							%a(href="#") Link
						%li<
							%a(href="#") Link
						%li.dropdown
							%a.dropdown-toggle(href="#" data-toggle="dropdown")<
								= precede 'Dropdown ' do
									%b.caret>
							%ul.dropdown-menu
								%li<
									%a(href="#") Action
								%li<
									%a(href="#") Another action
								%li<
									%a(href="#") Something else here
								%li.divider
								%li<
									%a(href="#") Separated link

					%form.navbar-search.pull-left(action="")
						%input.search-query.span2(type="text" placeholder="Search")

					%ul.nav.pull-right
						%li<
							%a(href="#") Link
						%li.divider-vertical
						%li.dropdown
							%a.dropdown-toggle(href="#" data-toggle="dropdown")<
								= precede 'Dropdown ' do
									%b.caret>
							%ul.dropdown-menu
								%li<
									%a(href="#") Action
								%li<
									%a(href="#") Another action
								%li<
									%a(href="#") Something else here
								%li.divider
								%li<
									%a(href="#") Separated link

/ =========================Buttons=========================
%section#buttons
	.page-header
		%h1 Buttons

	%table.table.table-bordered.table-striped
		%thead
			%tr
				%th Button
				%th Large Button
				%th Small Button
				%th Disabled Button
				%th Button with Icon
				%th Split Button
		%tbody
			%tr
				%td<
					%a.btn(href="#") Default
				%td<
					%a.btn.btn-large(href="#") Default
				%td<
					%a.btn.btn-small(href="#") Default
				%td<
					%a.btn.disabled(href="#") Default
				%td<
					%a.btn(href="#")<
						= succeed ' Default' do
							%i.icon-cog>
				%td
					.btn-group
						%a.btn(href="#") Default
						%a.btn.dropdown-toggle(data-toggle="dropdown" href="#")<
							%span.caret
						%ul.dropdown-menu
							%li<
								%a(href="#") Action
							%li<
								%a(href="#") Another action
							%li<
								%a(href="#") Something else here
							%li.divider
							%li<
								%a(href="#") Separated link
			%tr
				%td<
					%a.btn.btn-primary(href="#") Primary
				%td<
					%a.btn.btn-primary.btn-large(href="#") Primary
				%td<
					%a.btn.btn-primary.btn-small(href="#") Primary
				%td<
					%a.btn.btn-primary.disabled(href="#") Primary
				%td<
					%a.btn.btn-primary(href="#")<
						= succeed ' Primary' do
							%i.icon-shopping-cart.icon-white>
				%td
					.btn-group
						%a.btn.btn-primary(href="#") Primary
						%a.btn.btn-primary.dropdown-toggle(data-toggle="dropdown" href="#")<
							%span.caret
						%ul.dropdown-menu
							%li<
								%a(href="#") Action
							%li<
								%a(href="#") Another action
							%li<
								%a(href="#") Something else here
							%li.divider
							%li<
								%a(href="#")Separated link
			%tr
				%td<
					%a.btn.btn-info(href="#") Info
				%td<
					%a.btn.btn-info.btn-large(href="#") Info
				%td<
					%a.btn.btn-info.btn-small(href="#") Info
				%td<
					%a.btn.btn-info.disabled(href="#") Info
				%td<
					%a.btn.btn-info(href="#")<
						= succeed ' Info' do
							%i.icon-exclamation-sign.icon-white>
				%td
					.btn-group
						%a.btn.btn-info(href="#") Info
						%a.btn.btn-info.dropdown-toggle(data-toggle="dropdown" href="#")<
							%span.caret
						%ul.dropdown-menu
							%li<
								%a(href="#") Action
							%li<
								%a(href="#") Another action
							%li<
								%a(href="#") Something else here
							%li.divider
							%li<
								%a(href="#") Separated link
			%tr
				%td<
					%a.btn.btn-success(href="#") Success
				%td<
					%a.btn.btn-success.btn-large(href="#") Success
				%td<
					%a.btn.btn-success.btn-small(href="#") Success
				%td<
					%a.btn.btn-success.disabled(href="#") Success
				%td<
					%a.btn.btn-success(href="#")<
						= succeed ' Success' do
							%i.icon-ok.icon-white>
				%td
					.btn-group
						%a.btn.btn-success(href="#") Success
						%a.btn.btn-success.dropdown-toggle(data-toggle="dropdown" href="#")<
							%span.caret
						%ul.dropdown-menu
							%li<
								%a(href="#") Action
							%li<
								%a(href="#") Another action
							%li<
								%a(href="#") Something else here
							%li.divider
							%li<
								%a(href="#") Separated link
			%tr
				%td<
					%a.btn.btn-warning(href="#") Warning
				%td<
					%a.btn.btn-warning.btn-large(href="#") Warning
				%td<
					%a.btn.btn-warning.btn-small(href="#") Warning
				%td<
					%a.btn.btn-warning.disabled(href="#") Warning
				%td<
					%a.btn.btn-warning(href="#")<
						= succeed ' Warning' do
							%i.icon-warning-sign.icon-white>
				%td
					.btn-group
						%a.btn.btn-warning(href="#") Warning
						%a.btn.btn-warning.dropdown-toggle(data-toggle="dropdown" href="#")<
							%span.caret
						%ul.dropdown-menu
							%li<
								%a(href="#") Action
							%li<
								%a(href="#") Another action
							%li<
								%a(href="#") Something else here
							%li.divider
							%li<
								%a(href="#") Separated link
			%tr
				%td<
					%a.btn.btn-danger(href="#") Danger
				%td<
					%a.btn.btn-danger.btn-large(href="#") Danger
				%td<
					%a.btn.btn-danger.btn-small(href="#") Danger
				%td<
					%a.btn.btn-danger.disabled(href="#") Danger
				%td<
					%a.btn.btn-danger(href="#")<
						= succeed ' Danger' do
							%i.icon-remove.icon-white>
				%td
					.btn-group
						%a.btn.btn-danger(href="#") Danger
						%a.btn.btn-danger.dropdown-toggle(data-toggle="dropdown" href="#")<
							%span.caret
						%ul.dropdown-menu
							%li<
								%a(href="#") Action
							%li<
								%a(href="#") Another action
							%li<
								%a(href="#") Something else here
							%li.divider
							%li<
								%a(href="#") Separated link
			%tr
				%td<
					%a.btn.btn-inverse(href="#") Inverse
				%td<
					%a.btn.btn-inverse.btn-large(href="#") Inverse
				%td<
					%a.btn.btn-inverse.btn-small(href="#") Inverse
				%td<
					%a.btn.btn-inverse.disabled(href="#") Inverse
				%td<
					%a.btn.btn-inverse(href="#")<
						= succeed ' Inverse' do
							%i.icon-random.icon-white>
				%td
					.btn-group
						%a.btn.btn-inverse(href="#") Inverse
						%a.btn.btn-inverse.dropdown-toggle(data-toggle="dropdown" href="#")<
							%span.caret
						%ul.dropdown-menu
							%li<
								%a(href="#") Action
							%li<
								%a(href="#") Another action
							%li<
								%a(href="#") Something else here
							%li.divider
							%li<
								%a(href="#") Separated link

/ =========================Forms=========================
%section#forms
	.page-header
		%h1 Forms

	.row
		.span7.offset1

			%form.well.form-search
				%input.input-medium.search-query(type="text")
				%button.btn(type="submit") Search

			%form.well.form-search
				%input.input-small(type="text" placeholder="Email")
				%input.input-small(type="password" placeholder="Password")
				%button.btn(type="submit") Go

			%form.form-horizontal.well
				%fieldset
					%legend Controls Bootstrap supports
					.control-group
						%label.control-label(for="input01") Text input
						.controls
							%input.input-xlarge(type="text" id="input01")
							%p.help-blockIn addition to freeform text, any HTML5 text-based input appears like so.
					.control-group
						%label.control-label(for="optionsCheckbox") Checkbox
						.controls
							%label.checkbox
								%input#optionsCheckbox(type="checkbox" value="option1")
								Option one is this and that&mdash;be sure to include why it's great
					.control-group
						%label.control-label(for="select01") Select list
						.controls
							%select#select01
								%option something
								%option 2
								%option 3
								%option 4
								%option 5
					.control-group
						%label.control-label(for="multiSelect") Multicon-select
						.controls
							%select#multiSelect(multiple="multiple")
								%option 1
								%option 2
								%option 3
								%option 4
								%option 5
					.control-group
						%label.control-label(for="fileInput") File input
						.controls
							%input.input-file#fileInput(type="file")
					.control-group
						%label.control-label(for="textarea") Textarea
						.controls
							%textarea.input-xlarge#textarea(rows="3")
					.control-group
						%label.control-label(for="focusedInput") Focused input
						.controls
							%input.input-xlarge.focused#focusedInput(type="text" value="This is focused…")
					.control-group
						%label.control-label Uneditable input
						.controls
							%span.input-xlarge.uneditable-input Some value here
					.control-group
						%label.control-label(for="disabledInput") Disabled input
						.controls
						%input.input-xlarge.disabled#disabledInput(type="text" placeholder="Disabled input here…" disabled)
					.control-group
						%label.control-label(for="optionsCheckbox2") Disabled checkbox
						.controls
							%label.checkbox
								%input#optionsCheckbox2(type="checkbox" value="option1" disabled) This is a disabled checkbox
					.control-group.warning
						%label.control-label(for="inputWarning") Input with warning
						.controls
							%input#inputWarning(type="text")
							%span.help-inline Something may have gone wrong
					.control-group.error
						%label.control-label(for="inputError") Input with error
						.controls
							%input#inputError(type="text")
							%span.help-inline Please correct the error
					.control-group.success
						%label.control-label(for="inputSuccess") Input with success<
						.controls
							%input#inputSuccess(type="text")
							%span.help-inline Woohoo!
					.control-group.succes
						%label.control-label(for="selectError") Select with success
						.controls
							%select#selectError
								%option 1
								%option 2
								%option 3
								%option 4
								%option 5
							%span.help-inline Woohoo!
					.form-actions
						%button.btn.btn-primary(type="submit") Save changes
						%button.btn(type="reset") Cancel

/ =========================Miscellaneous=========================
%section#miscellaneous
	.page-header
		%h1 Miscellaneous

	.row
		.span5
			%h3#breadcrumbs Breadcrumbs
			%ul.breadcrumb
				%li.active Home
			%ul.breadcrumb
				%li<
					%a(href="#")> Home
					= precede ' ' do
						%span.divider /
				%li.active Library
			%ul.breadcrumb
				%li<
					%a(href="#")> Home
					= precede ' ' do
						%span.divider /
				%li<
					%a(href="#")> Library
					= precede ' ' do
						%span.divider /
				%li.active Data

		.span6.offset1
			%h3#pagination Pagination
			.pagination
				%ul
					%li.disabled<
						%a(href="#") &laquo;
					%li.active<
						%a(href="#") 1
					%li<
						%a(href="#") 2
					%li<
						%a(href="#") 3
					%li<
						%a(href="#") 4
					%li<
						%a(href="#") &raquo;
			.pagination
				%ul
					%li<
						%a(href="#") &larr;
					%li.active<
						%a(href="#") 10
					%li.disabled<
						%a(href="#") ...
					%li<
						%a(href="#") 20
					%li<
						%a(href="#") &rarr;
			.pagination.pagination-centered
				%ul
					%li.active<
						%a(href="#") 1
					%li<
						%a(href="#") 2
					%li<
						%a(href="#") 3
					%li<
						%a(href="#") 4
					%li<
						%a(href="#") 5

	/ =========================Labels=========================
	.row
		.span12
			%h3#labels Labels
			%span.label Default
			%span.label.label-success Success
			%span.label.label-warning Warning
			%span.label.label-important Important
			%span.label.label-info Info
	%br

	/ =========================Progress bars=========================
	%h3#progressbars Progress bars
	.row
		.span4
			.progress
				.bar(style="width: 60%;")
		.span4
			.progress.progress-info.progress-striped
				.bar(style="width: 20%;")
		.span4
			.progress.progress-danger.progress-striped.active
				.bar(style="width: 45%")
	%br

	/ =========================Alerts & Messages=========================
	%h3#alerts Alerts
	.row
		.span12
			.alert.alert-block
				%a.close &times;
				%h4.alert-heading Alert block
				%p Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
	.row
		.span4
			.alert.alert-error
				%a.close &times;
				=succeed ' Change a few things up and try submitting again.' do
					%strong Error
		.span4
			.alert.alert-success
				%a.close &times;
				=succeed ' You successfully read this important alert message.' do
					%strong Success
		.span4
			.alert.alert-info
				%a.close &times;
				=succeed " This alert needs your attention, but it's not super important." do
					%strong Information
%br
%br>
%br>
%br
