---
layout: project
title: Example Swatch
---

/ =========================Masthead=========================
%header.jumbotron.subhead#overview
  .row
    .span12
      %h1 Project Swatch
      %p.lead This swatch page shows the styling of various Bootstrap elements.
  .subnav
    %ul.nav.nav-pills
      %li.active<
        %a(href="#typography") Typography
      %li<
        %a(href="#carousel") Carousel
      %li<
        %a(href="#faq") FAQ
      %li<
        %a(href="#equalheight") Equal Height Cols
      %li<
        %a(href="#iconcallouts") Icon Callouts
      %li<
        %a(href="#tables") Tables
      %li<
        %a(href="#tabbedcontent") Tabbed
      %li<
        %a(href="#navbar") Navbar
      %li<
        %a(href="#buttons") Buttons
      %li<
        %a(href="#codesnippets") Code
      %li<
        %a(href="#forms") Forms
      %li<
        %a(href="#miscellaneous") Misc.
      %li<
        %a(href="#fontawesome") Icons
      %li<
        %a(href="#phrasing") Phrasing


/ =========================Typography=========================
%section#typography
  .page-header
    %h1 Typography

  / Headings & Paragraph Copy
  .row
    .span4
      .well
        %h1 h1. Heading 1
        %h2 h2. Heading 2
        %h3 h3. Heading 3
        %h4 h4. Heading 4
        %h5 h5. Heading 5
        %h6 h6. Heading 6
    .span4
      %h3 Example body text
      %p Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.
      %p Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
    .span4
      %h3 Example addresses
      %address
        %strong Company, Inc.
        %br>
        \
        1234 Main Street<br/>
        Raliegh, NC 12345<br/>
        = succeed ' (123) 456-7890' do
          %abbr(title="Phone") P:
      %address
        %strong Full Name
        %br>
        \
        %a(href="mailto:#") first.last@gmail.com


/ =========================Modal & Carousel=========================
%section#carousel
  .page-header
    %h1 Modal and Carousel

  .row-fluid
    .span4
      %h3 Modal Pop-up
      / Button to trigger modal
      %a.btn{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Launch demo modal
      / Modal
      #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h3#myModalLabel Modal header
        .modal-body
          %p One fine body…
        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
          %button.btn.btn-primary Save changes

    .span8
      #myCarousel.carousel.slide
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
        / Carousel items
        .carousel-inner
          .active.item
            %img{:alt => "", :src => "http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg"}/
          .item
            %img{:alt => "", :src => "http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg"}/
          .item
            %img{:alt => "", :src => "http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg"}/
        / Carousel nav
        %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
        %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›




/ =========================Tab Toggles=========================
%section#faq
  .page-header
    %h1 FAQ Toggles


#accordion2.accordion
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
        Collapsible Group Item #1
    #collapseOne.accordion-body.collapse.in
      .accordion-inner
        Content 1 goes here (headlines, photos, whatever).
  .accordion-group
    .accordion-heading
      %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
        Collapsible Group Item #2
    #collapseTwo.accordion-body.collapse
      .accordion-inner
        Content 2 goes here (headlines, photos, whatever).




/ =========================Equal Heights Columns=========================
%section#equalheight
  .page-header
    %h1 Equal Height Columns

/ begin equalHeights columns 4
#equalHeightsB.row-fluid.equalHero
  .span3
    %h3
      %a{:href => "about.html"} Crisp is the industry leader of real world iteration.
    %p
      %i.icon-cloud-download.icon-4x.pull-left
      Public domain images. We will increase our aptitude to evolve without decrementing our capacity to leverage. It may seem marvelous, but it's true!
    %p.right
      %a.btn.btn-primary.pull-right{:href => "about.html"} Details →
  .span3
    %h3
      %a{:href => "about.html"} It is better to maximize virally than to exploit holistically.
    %p
      %i.icon-dashboard.icon-4x.pull-left
      If all of this seems stunning to you, that's because it is! The capability to strategize extensibly leads to the aptitude to upgrade compellingly.
    %p.right
      %a.btn.btn-primary.pull-right{:href => "about.html"} Details →
  .span3
    %h3
      %a{:href => "about.html"} What do we incubate? Anything and everything, regardless of anonymity!
    %p
      %i.icon-cogs.icon-4x.pull-left
      A company that can implement correctly will (eventually) be able to architect correctly. If you generate intuitively, you may have to synergize robustly.
    %p.right
      %a.btn.btn-primary.pull-right{:href => "about.html"} Details →
  .span3
    %h3
      %a{:href => "about.html"} A company that can implement correctly will (eventually) be able to architect correctly
    %p
      %i.icon-magic.icon-4x.pull-left
      A company that can implement correctly will (eventually) be able to architect correctly. If you generate intuitively, you may have to synergize robustly.
    %p.right
      %a.btn.btn-primary.pull-right{:href => "about.html"} Details →


/ =========================Icon Callouts=========================
%section#iconcallouts
  .page-header
    %h1 Icon Callouts

.row-fluid
  .span2.pull-center
    %i.enormous-icon.icon-magnet.circled.pull-center
  .span10
    %h3 Get Involved
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor lacus risus, nec facilisis libero semper sed. Vestibulum vel interdum augue. Ut commodo laoreet viverra. Ut vitae eleifend ante. Pellentesque ac justo consectetur Duis tempor lacus risus, nec nec facilisis libero facilisis.
      %br
    .pull-left
      .label.label-info New
    %a.btn.pull-right.btn-primary Get Involved Now
.row-fluid
  .span2.pull-center
    %i.enormous-icon.icon-bullhorn.circled.pull-center
  .span10
    %h3 Get Working
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor lacus risus, nec facilisis libero semper sed. Vestibulum vel interdum augue. Ut commodo laoreet viverra. Ut vitae eleifend ante. Pellentesque ac justo consectetur Duis tempor lacus risus, nec nec facilisis libero facilisis.
      %br
    .pull-left
      .label.label-warning Unstable
    %a.btn.pull-right.btn-primary Get Working Now
.row-fluid
  .span2.pull-center
    %i.enormous-icon.icon-trophy.circled.pull-center
  .span10
    %h3 Get Started
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor lacus risus, nec facilisis libero semper sed. Vestibulum vel interdum augue. Ut commodo laoreet viverra. Ut vitae eleifend ante. Pellentesque ac justo consectetur Duis tempor lacus risus, nec nec facilisis libero facilisis.
      %br
    .pull-left
      .label.label-success Stable
    %a.btn.pull-right.btn-primary Get Started Now

/ =========================Tables=========================
%section#tables
  .page-header
    %h1 Tables

  %h3 Quickstarts
  %p Get up to speed quickly. Let us walk you through it!
  %dl.dl-horizontal.quickstarts
    %dt 5.2.x Quickstart
    %dd
      %a html
      |
      %a PDF
      |
      %a ePub
    %dt 5.1.x Quickstart
    %dd
      %a html
      |
      %a PDF
      |
      %a ePub
    %dt 5.0.x Quickstart
    %dd
      %a html
      |
      %a PDF
      |
      %a ePub

  %br

  %h3 Documentation Table
  %p Learn more detail about our software.
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Version
        %th User Guide
        %th Getting Started Guide
        %th Wiki
        %th FAQs
        %th Javadocs
    %tbody
      %tr
        %td 5.2.x
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
      %tr
        %td 5.1.x
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
      %tr
        %td 5.0.x
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html
          |
          %a PDF
          |
          %a ePub
        %td
          %a html

/ =========================Tabbed Content=========================
%section#tabbedcontent
  .page-header
    %h1 Tabbed Content
  .row-fluid
    .span6
      .well
        %h1 News
        %ul#myTab.nav.nav-tabs
          %li.active
            %a{:href => "#home"} Home
          %li
            %a{:href => "#profile"} Profile
          %li
            %a{:href => "#messages"} Messages
          %li
            %a{:href => "#settings"} Settings
        .tab-content
          #home.tab-pane.active Home content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.
          #profile.tab-pane Profile content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.
          #messages.tab-pane Messages content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.
          #settings.tab-pane Settings content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.

    .span6
      %h1 Forums
      %ul#myTab.nav.nav-tabs
        %li.active
          %a{:href => "#home2"} Home
        %li
          %a{:href => "#downloads"} Downloads
        %li
          %a{:href => "#irc"} IRC
        %li
          %a{:href => "#twitter"} Twitter
      .tab-content
        #home2.tab-pane.active Home content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.
        #downloads.tab-pane Downloads content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.
        #irc.tab-pane IRC content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.
        #twitter.tab-pane Twitter content - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis sagittis accumsan. Donec tincidunt metus vitae felis vulputate, in cursus felis congue. Suspendisse in nisl mi. Sed eu fermentum sem, sit amet aliquet mauris. Phasellus et eros interdum, lobortis nibh et, tempor felis.

    :javascript
      $('#myTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      })


/ =========================Navbar=========================
%section#navbar
  .page-header
    %h1 Navbars
  .navbar
    .navbar-inner
      .container(style="width: auto;")
        %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand(href="#") Project name
        .nav-collapse
          %ul.nav
            %li.active<
              %a(href="#") Home
            %li<
              %a(href="#") Link
            %li<
              %a(href="#") Link
            %li<
              %a(href="#") Link
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown")<
                = precede 'Dropdown ' do
                  %b.caret>
              %ul.dropdown-menu
                %li<
                  %a(href="#") Action
                %li<
                  %a(href="#") Another action
                %li<
                  %a(href="#") Something else here
                %li.divider
                %li<
                  %a(href="#") Separated link

          %form.navbar-search.pull-left(action="")
            %input.search-query.span2(type="text" placeholder="Search")

          %ul.nav.pull-right
            %li<
              %a(href="#") Link
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown")<
                = precede 'Dropdown ' do
                  %b.caret>
              %ul.dropdown-menu
                %li<
                  %a(href="#") Action
                %li<
                  %a(href="#") Another action
                %li<
                  %a(href="#") Something else here
                %li.divider
                %li<
                  %a(href="#") Separated link

  .navbar.navbar-inverse
    .navbar-inner
      .container(style="width: auto;")
        %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .nav-collapse
          %ul.nav
            %li.active<
              %a(href="#") Home
            %li<
              %a(href="#") Link
            %li<
              %a(href="#") Link
            %li<
              %a(href="#") Link
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown")<
                = precede 'Dropdown ' do
                  %b.caret>
              %ul.dropdown-menu
                %li<
                  %a(href="#") Action
                %li<
                  %a(href="#") Another action
                %li<
                  %a(href="#") Something else here
                %li.divider
                %li<
                  %a(href="#") Separated link

          %form.navbar-search.pull-left(action="")
            %input.search-query.span2(type="text" placeholder="Search")

          %ul.nav.pull-right
            %li<
              %a(href="#") Link
            %li.divider-vertical
            %li.dropdown
              %a.dropdown-toggle(href="#" data-toggle="dropdown")<
                = precede 'Dropdown ' do
                  %b.caret>
              %ul.dropdown-menu
                %li<
                  %a(href="#") Action
                %li<
                  %a(href="#") Another action
                %li<
                  %a(href="#") Something else here
                %li.divider
                %li<
                  %a(href="#") Separated link

/ =========================Buttons=========================
%section#buttons
  .page-header
    %h1 Buttons

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Button
        %th Large Button
        %th Small Button
        %th Disabled Button
        %th Button with Icon
        %th Split Button
    %tbody
      %tr
        %td<
          %a.btn(href="#") Default
        %td<
          %a.btn.btn-large(href="#") Default
        %td<
          %a.btn.btn-small(href="#") Default
        %td<
          %a.btn.disabled(href="#") Default
        %td<
          %a.btn(href="#")<
            = succeed ' Default' do
              %i.icon-cog>
        %td
          .btn-group
            %a.btn(href="#") Default
            %a.btn.dropdown-toggle(data-toggle="dropdown" href="#")<
              %span.caret
            %ul.dropdown-menu
              %li<
                %a(href="#") Action
              %li<
                %a(href="#") Another action
              %li<
                %a(href="#") Something else here
              %li.divider
              %li<
                %a(href="#") Separated link
      %tr
        %td<
          %a.btn.btn-primary(href="#") Primary
        %td<
          %a.btn.btn-primary.btn-large(href="#") Primary
        %td<
          %a.btn.btn-primary.btn-small(href="#") Primary
        %td<
          %a.btn.btn-primary.disabled(href="#") Primary
        %td<
          %a.btn.btn-primary(href="#")<
            = succeed ' Primary' do
              %i.icon-shopping-cart.icon-white>
        %td
          .btn-group
            %a.btn.btn-primary(href="#") Primary
            %a.btn.btn-primary.dropdown-toggle(data-toggle="dropdown" href="#")<
              %span.caret
            %ul.dropdown-menu
              %li<
                %a(href="#") Action
              %li<
                %a(href="#") Another action
              %li<
                %a(href="#") Something else here
              %li.divider
              %li<
                %a(href="#")Separated link
      %tr
        %td<
          %a.btn.btn-info(href="#") Info
        %td<
          %a.btn.btn-info.btn-large(href="#") Info
        %td<
          %a.btn.btn-info.btn-small(href="#") Info
        %td<
          %a.btn.btn-info.disabled(href="#") Info
        %td<
          %a.btn.btn-info(href="#")<
            = succeed ' Info' do
              %i.icon-exclamation-sign.icon-white>
        %td
          .btn-group
            %a.btn.btn-info(href="#") Info
            %a.btn.btn-info.dropdown-toggle(data-toggle="dropdown" href="#")<
              %span.caret
            %ul.dropdown-menu
              %li<
                %a(href="#") Action
              %li<
                %a(href="#") Another action
              %li<
                %a(href="#") Something else here
              %li.divider
              %li<
                %a(href="#") Separated link
      %tr
        %td<
          %a.btn.btn-success(href="#") Success
        %td<
          %a.btn.btn-success.btn-large(href="#") Success
        %td<
          %a.btn.btn-success.btn-small(href="#") Success
        %td<
          %a.btn.btn-success.disabled(href="#") Success
        %td<
          %a.btn.btn-success(href="#")<
            = succeed ' Success' do
              %i.icon-ok.icon-white>
        %td
          .btn-group
            %a.btn.btn-success(href="#") Success
            %a.btn.btn-success.dropdown-toggle(data-toggle="dropdown" href="#")<
              %span.caret
            %ul.dropdown-menu
              %li<
                %a(href="#") Action
              %li<
                %a(href="#") Another action
              %li<
                %a(href="#") Something else here
              %li.divider
              %li<
                %a(href="#") Separated link
      %tr
        %td<
          %a.btn.btn-warning(href="#") Warning
        %td<
          %a.btn.btn-warning.btn-large(href="#") Warning
        %td<
          %a.btn.btn-warning.btn-small(href="#") Warning
        %td<
          %a.btn.btn-warning.disabled(href="#") Warning
        %td<
          %a.btn.btn-warning(href="#")<
            = succeed ' Warning' do
              %i.icon-warning-sign.icon-white>
        %td
          .btn-group
            %a.btn.btn-warning(href="#") Warning
            %a.btn.btn-warning.dropdown-toggle(data-toggle="dropdown" href="#")<
              %span.caret
            %ul.dropdown-menu
              %li<
                %a(href="#") Action
              %li<
                %a(href="#") Another action
              %li<
                %a(href="#") Something else here
              %li.divider
              %li<
                %a(href="#") Separated link
      %tr
        %td<
          %a.btn.btn-danger(href="#") Danger
        %td<
          %a.btn.btn-danger.btn-large(href="#") Danger
        %td<
          %a.btn.btn-danger.btn-small(href="#") Danger
        %td<
          %a.btn.btn-danger.disabled(href="#") Danger
        %td<
          %a.btn.btn-danger(href="#")<
            = succeed ' Danger' do
              %i.icon-remove.icon-white>
        %td
          .btn-group
            %a.btn.btn-danger(href="#") Danger
            %a.btn.btn-danger.dropdown-toggle(data-toggle="dropdown" href="#")<
              %span.caret
            %ul.dropdown-menu
              %li<
                %a(href="#") Action
              %li<
                %a(href="#") Another action
              %li<
                %a(href="#") Something else here
              %li.divider
              %li<
                %a(href="#") Separated link
      %tr
        %td<
          %a.btn.btn-inverse(href="#") Inverse
        %td<
          %a.btn.btn-inverse.btn-large(href="#") Inverse
        %td<
          %a.btn.btn-inverse.btn-small(href="#") Inverse
        %td<
          %a.btn.btn-inverse.disabled(href="#") Inverse
        %td<
          %a.btn.btn-inverse(href="#")<
            = succeed ' Inverse' do
              %i.icon-random.icon-white>
        %td
          .btn-group
            %a.btn.btn-inverse(href="#") Inverse
            %a.btn.btn-inverse.dropdown-toggle(data-toggle="dropdown" href="#")<
              %span.caret
            %ul.dropdown-menu
              %li<
                %a(href="#") Action
              %li<
                %a(href="#") Another action
              %li<
                %a(href="#") Something else here
              %li.divider
              %li<
                %a(href="#") Separated link

/ =========================Code Snippets=========================

%section#codesnippets
  .page-header
    %h1 Code Snippets

%pre
  :preserve

    &lt;p&gt;XML Code Snipped goes here...&lt;/p&gt;


/ =========================Forms=========================
%section#forms
  .page-header
    %h1 Forms

  .row
    .span7.offset1

      %form.well.form-search
        %input.input-medium.search-query(type="text")
        %button.btn(type="submit") Search

      %form.well.form-search
        %input.input-small(type="text" placeholder="Email")
        %input.input-small(type="password" placeholder="Password")
        %button.btn(type="submit") Go

      %form.form-horizontal.well
        %fieldset
          %legend Controls Bootstrap supports
          .control-group
            %label.control-label(for="input01") Text input
            .controls
              %input.input-xlarge(type="text" id="input01")
              %p.help-blockIn addition to freeform text, any HTML5 text-based input appears like so.
          .control-group
            %label.control-label(for="optionsCheckbox") Checkbox
            .controls
              %label.checkbox
                %input#optionsCheckbox(type="checkbox" value="option1")
                Option one is this and that&mdash;be sure to include why it's great
          .control-group
            %label.control-label(for="select01") Select list
            .controls
              %select#select01
                %option something
                %option 2
                %option 3
                %option 4
                %option 5
          .control-group
            %label.control-label(for="multiSelect") Multicon-select
            .controls
              %select#multiSelect(multiple="multiple")
                %option 1
                %option 2
                %option 3
                %option 4
                %option 5
          .control-group
            %label.control-label(for="fileInput") File input
            .controls
              %input.input-file#fileInput(type="file")
          .control-group
            %label.control-label(for="textarea") Textarea
            .controls
              %textarea.input-xlarge#textarea(rows="3")
          .control-group
            %label.control-label(for="focusedInput") Focused input
            .controls
              %input.input-xlarge.focused#focusedInput(type="text" value="This is focused…")
          .control-group
            %label.control-label Uneditable input
            .controls
              %span.input-xlarge.uneditable-input Some value here
          .control-group
            %label.control-label(for="disabledInput") Disabled input
            .controls
              %input.input-xlarge.disabled#disabledInput(type="text" placeholder="Disabled input here…" disabled)
          .control-group
            %label.control-label(for="optionsCheckbox2") Disabled checkbox
            .controls
              %label.checkbox
                %input#optionsCheckbox2(type="checkbox" value="option1" disabled) This is a disabled checkbox
          .control-group.warning
            %label.control-label(for="inputWarning") Input with warning
            .controls
              %input#inputWarning(type="text")
              %span.help-inline Something may have gone wrong
          .control-group.error
            %label.control-label(for="inputError") Input with error
            .controls
              %input#inputError(type="text")
              %span.help-inline Please correct the error
          .control-group.success
            %label.control-label(for="inputSuccess") Input with success
            .controls
              %input#inputSuccess(type="text")
              %span.help-inline Woohoo!
          .control-group.succes
            %label.control-label(for="selectError") Select with success
            .controls
              %select#selectError
                %option 1
                %option 2
                %option 3
                %option 4
                %option 5
              %span.help-inline Woohoo!
          .form-actions
            %button.btn.btn-primary(type="submit") Save changes
            %button.btn(type="reset") Cancel


/ =========================Miscellaneous=========================
%section#miscellaneous
  .page-header
    %h1 Miscellaneous

  .row
    .span5
      %h3#breadcrumbs Breadcrumbs
      %ul.breadcrumb
        %li.active Home
      %ul.breadcrumb
        %li<
          %a(href="#")> Home
          = precede ' ' do
            %span.divider /
        %li.active Library
      %ul.breadcrumb
        %li<
          %a(href="#")> Home
          = precede ' ' do
            %span.divider /
        %li<
          %a(href="#")> Library
          = precede ' ' do
            %span.divider /
        %li.active Data

    .span6.offset1
      %h3#pagination Pagination
      .pagination
        %ul
          %li.disabled<
            %a(href="#") &laquo;
          %li.active<
            %a(href="#") 1
          %li<
            %a(href="#") 2
          %li<
            %a(href="#") 3
          %li<
            %a(href="#") 4
          %li<
            %a(href="#") &raquo;
      .pagination
        %ul
          %li<
            %a(href="#") &larr;
          %li.active<
            %a(href="#") 10
          %li.disabled<
            %a(href="#") ...
          %li<
            %a(href="#") 20
          %li<
            %a(href="#") &rarr;
      .pagination.pagination-centered
        %ul
          %li.active<
            %a(href="#") 1
          %li<
            %a(href="#") 2
          %li<
            %a(href="#") 3
          %li<
            %a(href="#") 4
          %li<
            %a(href="#") 5

  / =========================Labels=========================
  .row
    .span6
      %h3#labels Labels
      %span.label Default
      %span.label.label-success Success
      %span.label.label-warning Warning
      %span.label.label-important Important
      %span.label.label-info Info

    .span6
      %h3#labels Definition Lists
      %dl.dl-horizontal
        %dt User Forums
        %dd Can help answer questios you may have and be a point of discussion and reference for using this Project
        %dt IRC
        %dd
          is our real-time chat location. Join us on the #project freenode channel. Join in to talk to us in real time.
          %a (Freenode IRC instructions)
  %br

  / =========================Progress bars=========================
  %h3#progressbars Progress bars
  .row
    .span4
      .progress
        .bar(style="width: 60%;")
    .span4
      .progress.progress-info.progress-striped
        .bar(style="width: 20%;")
    .span4
      .progress.progress-danger.progress-striped.active
        .bar(style="width: 45%")
  %br

  / =========================Alerts & Messages=========================
  %h3#alerts Alerts
  .row
    .span12
      .alert.alert-block
        %a.close &times;
        %h4.alert-heading Alert block
        %p Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
  .row
    .span4
      .alert.alert-error
        %a.close &times;
        =succeed ' Change a few things up and try submitting again.' do
          %strong Error
    .span4
      .alert.alert-success
        %a.close &times;
        =succeed ' You successfully read this important alert message.' do
          %strong Success
    .span4
      .alert.alert-info
        %a.close &times;
        =succeed " This alert needs your attention, but it's not super important." do
          %strong Information

/ =========================Font Awesome Icons=========================
%section#fontawesome
  .page-header
    %h1 Font Awesome Icons
    %p This theme uses "Font Awesome" as an icon set to increase the flexibility and presentation of the icons. We've included a small sampling of this font on in this section.
    Go to the Font Awesome website to see the
    %a{:href => "http://fortawesome.github.io/Font-Awesome/icons/"} list of available icons
    and
    %a{:href => "http://fortawesome.github.io/Font-Awesome/examples/"} examples
    of how to implement them.
    .row
      .span4
        %h3 Inline & Large Icons
        .well
          %div
            %i.icon-camera-retro
            icon-camera-retro (regular)
            %p
            %i.icon-camera-retro.icon-large
            icon-camera-retro (large)
            %p
            %i.icon-camera-retro.icon-2x
            icon-camera-retro (2XL)
            %p
            %i.icon-camera-retro.icon-3x
            icon-camera-retro (3XL)
            %p
            %i.icon-camera-retro.icon-4x
            icon-camera-retro (4XL)
      .span4
        %h3 Buttons
        .well
          %div
            %p
              %a.btn{:href => "#"}
                %i.icon-repeat
                Reload
              %a.btn.btn-success{:href => "#"}
                %i.icon-shopping-cart.icon-large
                Checkout
            %p
              %a.btn.btn-large.btn-primary{:href => "#"}
                %i.icon-comment
                Comment
              %a.btn.btn-small.btn-info{:href => "#"}
                %i.icon-info-sign
                Info
            %p
              %a.btn.btn-danger{:href => "#"}
                %i.icon-trash.icon-large
                Delete
              %a.btn.btn-small{:href => "#"}
                %i.icon-cog
                Settings
            %p
              %a.btn.btn-large.btn-danger{:href => "#"}
                %i.icon-flag.icon-2x.pull-left
                Font Awesome
                %br>/
                Version
            %p
              %a.btn.btn-primary{:href => "#"}
                %i.icon-refresh.icon-spin
                Synchronizing Content...
      .span4
        %h3 Better Bulleted Lists
        .well
          %div
            %ul.icons-ul
              %li
                %i.icon-li.icon-chevron-sign-right>
                New bulleted lists
              %li
                %i.icon-li.icon-bullseye>
                Fix some old bugs
              %li
                %i.icon-li.icon-play-sign>
                And deal with arbitrary
              %li
                %i.icon-li.icon-ok-sign>
                Font sizes better
    .row
      .span4
        %h3 Icon Stacks
        .well
          %span.icon-stack
            %i.icon-check-empty.icon-stack-base
            %i.icon-twitter
          icon-twitter on icon-check-empty
          %br/
          %span.icon-stack
            %i.icon-circle.icon-stack-base
            %i.icon-flag.icon-light
          icon-flag on icon-circle
          %br/
          %span.icon-stack
            %i.icon-sign-blank.icon-stack-base
            %i.icon-terminal.icon-light
          icon-terminal on icon-sign-blank
      .span4
        %h3 Pulled & Bordered Icons
        .well
          %i.icon-quote-left.icon-4x.pull-left
          Use a few of the new styles together, and you've got easy pull quotes or a great introductory article image. Or spinning icons for loading and refreshing content. Or fun big icons in multi-line buttons. You can combine all of them in any combination to get lots of new possibilities.
      .span4
        %h3 Navigation
        .div
          %ul.nav.nav-list
            %li.active
              %a{:href => "#"}
                %i.icon-fixed-width.icon-home
                Home
            %li
              %a{:href => "#"}
                %i.icon-fixed-width.icon-book
                Library
            %li
              %a{:href => "#"}
                %i.icon-fixed-width.icon-pencil
                Applications
            %li
              %a{:href => "#"}
                %i.icon-fixed-width.icon-cogs
                Settings
    .row-fluid
      / section containing newsletter signup
      .span4
        %section
          %h4 Stay Updated
          %p Sign up for our newsletter. We won't share your email address.
          %form{:action => "yourscript.php", :method => "post"}
            .input-append
              %input.span12{:name => "email", :placeholder => "Email Address", :type => "email"}/
              %button.btn.btn-primary Sign Up


      .span4
        %section
          / Rotating Testimonials - set the speed in application.js
          .rotating-testimonials
            / "rotating-testimonials" is a required class
            %h4.short_headline
              %span Testimonials
            .panels
              #t1
                %blockquote
                  %p One isn’t necessarily born with courage, but one is born with potential. Without courage, we cannot practice any other virtue with consistency. We can’t be kind, true, merciful, generous, or honest.
                  %footer Maya Angelou
              / close #t1
              #t2
                %blockquote
                  %p When the highest type of people hear Tao (Truth), they diligently practice it. When the average type of people hear Tao, they half believe in it. When the lowest type of people hear Tao, they laugh at it. If they did not laugh, it would not be Tao.
                  %footer Lao-Tzu
              / close #t2
              #t3
                %blockquote
                  %p The human being is part of the whole, called by us the ‘universe’, a part limited in time and space. He experiences himself, his thoughts and feelings, as something separate from the rest — a kind of optical delusion of consciousness.
                  %footer Albert Einstein
              / close #t3
              #t4
                %blockquote
                  %p Whatever course you decide upon, there is always someone to tell you that you are wrong. There are always difficulties arising which tempt you to believe that your critics are right. To map out a course of action and follow it to an end requires courage.
                  %footer Ralph Waldo Emerson
              / close #t4

            %ul.tabs
              %li.tab
                %a{:href => "#t1"} maya-angelou
              %li.tab
                %a{:href => "#t2"} lao-tzu
              %li.tab
                %a{:href => "#t3"} albert-einstein
              %li.tab
                %a{:href => "#t4"} ralph-waldo-emerson



      / section containing blog posts
      .span4
        %section
          %h4 Latest Blog Posts
          %ul.listPosts
            %li
              .avatar
              %span.name Martha Smith
              %span.meta March 10, 2012
              %a{:href => "blog-single.html"} We will amplify our power to benchmark
            %li
              .avatar
              %span.name Ella Fitzgerald
              %span.meta July 10, 2012
              %a{:href => "blog-single.html"} Crisp has revolutionized the conceptualization of structuring
            %li
              .avatar
              %span.name Wendy Davis
              %span.meta January 10, 2012
              %a{:href => "blog-single.html"} A company that can implement correctly
            %li
              .avatar
              %span.name Anias Nin
              %span.meta February 10, 2012
              %a{:href => "blog-single.html"} Claritas est etiam processus dynamicus
            %li
              .avatar
              %span.name Gretta Garbo
              %span.meta September 10, 2012
              %a{:href => "blog-single.html"} It is stunning to you!
            %li
              .avatar
              %span.name Christine Wig
              %span.meta December 10, 2012
              %a{:href => "blog-single.html"} We will increase our aptitude to evolve

/ =========================Phrase Elements=========================
%section#phrasing
  .page-header
    %h1 Phrase Elements
    %h5 Em
    %p
      Element used to
      = succeed "." do
        %em put emphasis on certain information
      Most browsers display emphased text in italics by default.
    %p
      Sample:
      = succeed "." do
        %em This is emphasied text
    %h5 Strong
    %p This element stands for "stronger emphasis" and is used for marking more important text.
    %p
      Sample:
      %strong This is text with stronger emphasis
    %h5 Cite
    %p
      According to
      = succeed "," do
        %cite W3C specification
      we use
      %code cite
      element to define source of a quotation or reference.
    %p
      Sample:
      %cite This is quotation source
    %h5 Dfn
    %p Element used to markup inline definition of a single term.
    %p
      Sample:
      %dfn This is definition
    %h5 code
    %p This element informs the browser that it contains a computer code, such as XHTML markup.
    %p
      Sample:
      %code document.write("Hello world");
    %h5 samp
    %p Defines computer output data, for example we can use it to markup error messages
    %p
      Sample:
      %samp Error: no such file or directory
    %h5 kbd
    %p Means information that should be entered by the user.
    %p
      Sample: press
      %kbd Alt + F4
      to close this window.
      %kbd ESC
    %h5 var
    %p Means variables used in computer programs or scripts.
    %p
      Sample:
      %var counter
    %h5 abbr
    %p Abbreviation / a shortened form of a word or phrase
    %p
      Sample:
      %abbr{:title => "doctor"} dr
    %h5 q: inline quotation
    %p
      Sample:
      %q This is a sample inline quotation
    %h5 Other elements
    %h6 Subscript and superscript samples
    %p
      H
      %sub> 2
      O,
    %p
      E = mc
      %sup> 2
      ,
    %p
      The 14
      %sup th
      of September
    %h5 Insertion and deletion samples
    %p
      %ins{:datetime => "2009-07-12T08:15:30+02:00", :title => "Added new information according to suggestions"} This information was just added.
      %br/
      %del While this information is no longer valid.
    %h5 Presentational elements
    %p
      %strong Bold text
      %br/
      %em Italic text
      %br/
      %small Small
    %h5 Horizontal rule:
    %hr/



/ =========================Boostrap Thumbnails=========================
%section#thumbnails
  .page-header
    %h1 Thumbnails

    %p Be sure that the content is same height, these are not controlled by jQuery.
    .row-fluid
      %ul.thumbnails
        %li.span4
          .thumbnail
            %img{:alt => "", :src => "http://placehold.it/330x150"}/
            .caption
              %h3 Thumbnail label
              %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              %p
                %a.btn.btn-primary{:href => "#"} Action
                %a.btn{:href => "#"} Action
        %li.span4
          .thumbnail
            %img{:alt => "", :src => "http://placehold.it/330x150"}/
            .caption
              %h3 Thumbnail label
              %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              %p
                %a.btn.btn-primary{:href => "#"} Action
                %a.btn{:href => "#"} Action
        %li.span4
          .thumbnail
            %img{:alt => "", :src => "http://placehold.it/330x150"}/
            .caption
              %h3 Thumbnail label
              %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              %p
                %a.btn.btn-primary{:href => "#"} Action
                %a.btn{:href => "#"} Action
    .row-fluid
      %ul.thumbnails
        %li.span3
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "http://placehold.it/260x180"}/
        %li.span3
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "http://placehold.it/260x180"}/
        %li.span3
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "http://placehold.it/260x180"}/
        %li.span3
          %a.thumbnail{:href => "#"}
            %img{:alt => "", :src => "http://placehold.it/260x180"}/

