!!! 5
%html(lang="en")
	%head
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1.0")
		%meta(name="description" content="#{page.description}")
		%meta(name="author" content="#{page.author}")
		%title #{page.title} · #{site.title}

		%link(href="#{site.bootstrap_css_url}/bootstrap-#{page.style}#{site.minified}.css" rel="stylesheet" media="screen")

		/ IE 6-8 support of HTML 5 elements
		/[if lt IE 9]
			%script(src="#{site.jborg_js_url}/libs/html5/pre3.6/html5.min.js")

		%link(rel="shortcut icon" href="#{site.jborg_images_url}/common/favicon.ico")
		%link(rel="apple-touch-icon-precomposed" sizes="144x144" href="#{site.jborg_images_url}/community/jboss-touch-icon-144-precomposed.png")
		%link(rel="apple-touch-icon-precomposed" sizes="114x114" href="#{site.jborg_images_url}/community/jboss-touch-icon-114-precomposed.png")
		%link(rel="apple-touch-icon-precomposed" sizes="72x72" href="#{site.jborg_images_url}/community/jboss-touch-icon-72-precomposed.png")
		%link(rel="apple-touch-icon-precomposed" href="#{site.jborgimages_url}/community/jboss-touch-icon-57-precomposed.png")

	%body
		.container
			.globalbanner
				.socialmedia
					%ul
						%li<
							%a(href="#")<
								%img(src="#{site.jborg_images_url}/common/socialmedia_icon16_asylum.png")
						%li<
							%a(href="#")<
								%img(src="#{site.jborg_images_url}/common/socialmedia_icon16_planet.png")
						%li<
							%a(href="#")<
								%img(src="#{site.jborg_images_url}/common/socialmedia_icon16_vimeo.png")
						%li<
							%a(href="#")<
								%img(src="#{site.jborg_images_url}/common/socialmedia_icon16_youtube.png")
						%li<
							%a(href="#")<
								%img(src="#{site.jborg_images_url}/common/socialmedia_icon16_linkedin.png")
						%li<
							%a(href="#")<
								%img(src="#{site.jborg_images_url}/common/socialmedia_icon16_twitter.png")
						%li<
							%a(href="#")<
								%img(src="#{site.jborg_images_url}/common/socialmedia_icon16_facebook.png")
						%li<
							%a(href="#")<
								%img(src="#{site.jborg_images_url}/common/socialmedia_icon16_googleplus.png")
						%li<
							%a(href="#")<
								%img(src="#{site.jborg_images_url}/common/socialmedia_icon16_email.png")
				.globalbrand
					%a(href="http://www.jboss.org")<
						%img(src="#{site.jborg_images_url}/common/jbosscommunitylogo_large.png")
			.navbar#navbar-fix
				.navbar-inner
					.container
						%a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse" style="margin-top: 2px;") menu
						.nav-collapse.collapse
							%ul.nav
								%li.active<
									%a(href="#") Home
								%li.dropdown
									%a.dropdown-toggle(data-toggle="dropdown" href="#Developers")<
										= precede 'Developers ' do
											%b.caret>
									%ul.dropdown-menu
										%li<
											%a(href="#") Get Started
										%li<
											%a(href="#") Get Tool Kit (JBDS)
										%li<
											%a(href="#") Downloads                
										%li<
											%a(href="#") Documentation                
										%li<
											%a(href="#") Forums                
										%li<
											%a(href="#") Webinars                
										%li<
											%a(href="#") Events                
										%li<
											%a(href="#") Articles                
										%li<
											%a(href="#") Books                
								%li.dropdown
									%a.dropdown-toggle(data-toggle="dropdown" href="#Contributors")<
										= precede 'Contributors ' do
											%b.caret>
									%ul.dropdown-menu
										%li<
											%a(href="#") Get Involved
										%li<
											%a(href="#") Wiki
										%li<
											%a(href="#") Discussions                
										%li<
											%a(href="#") Issue Tracker                
										%li<
											%a(href="#") Source Repositories                
										%li<
											%a(href="#") User Groups                
										%li<
											%a(href="#") Special Interest Groups                
										%li<
											%a(href="#") Report a Security Issue                
								%li.dropdown
									%a.dropdown-toggle(data-toggle="dropdown" href="#Projects")<
										= precede 'Projects ' do
											%b.caret>
									%ul.dropdown-menu
										%li<
											%a(href="#") Application Server
										%li<
											%a(href="#") Web Server                
										%li<
											%a(href="#") GateIn                
										%li<
											%a(href="#") ESB                
										%li<
											%a(href="#") Drools                
										%li<
											%a(href="#") Hibernate                
										%li<
											%a(href="#") RichFaces               
										%li<
											%a(href="#") Tools               
										%li<
											%a(href="#") RHQ
										%li.divider
										%li<
											%a(href="#") More...               
								%li.dropdown
									%a.dropdown-toggle(data-toggle="dropdown" href="#Products")<
										= precede 'Products ' do
											%b.caret>
									%ul.dropdown-menu
										%li<
											%a(href="#") Application Platform
										%li<
											%a(href="#") Web Platform                
										%li<
											%a(href="#") Portal Platform                
										%li<
											%a(href="#") SOA Platform                
										%li<
											%a(href="#") Business Rules Mgmt System                
										%li<
											%a(href="#") Data Services Platform                
										%li<
											%a(href="#") Web Framework Kit               
										%li<
											%a(href="#") Developer Studio               
										%li<
											%a(href="#") Operations Network
										%li.divider
										%li<
											%a(href="#") More...
							%ul.nav.pull-right
								%li
									%form.navbar-search
										%input.search-query#communitysearch(type="text" placeholder="Search")
								%li.divider-vertical
								%li
									.btn-group
										%a.btn.btn-info.btn-small.dropdown-toggle(data-toggle="dropdown" href="#LogInRegister")
											= succeed ' Log In | Register' do
												%i.icon-user
											%span.caret
										%ul.dropdown-menu
											%li<
												%a(href="#") Log In
											%li<
												%a(href="#") Register
											%li.divider
											%li<
												%a(href="#") Forgot Username
											%li<
												%a(href="#") Forgot Password

			~ content

		.company
			%a(href="http://www.redhat.com/")<
				%img(src="#{site.jborg_images_url}/common/redhat_logo.png")
				
		%script(src="#{site.jborg_js_url}/libs/jquery/1.8.1/jquery#{site.minified}.js")
		%script(src="#{site.bootstrap_js_url}/bootstrap-community#{site.minified}.js")
