%title #{page.real_page.title ? page.real_page.title : page.real_page.simple_name.capitalize } · #{site.title}
%meta(charset="utf-8")
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
%meta(name="description" content="#{page.description}")
%meta(name="author" content="#{page.author}")

- pageStyle = page.style ;

- if site.profile.eql?("staging") or site.profile.eql?("production")
  %link(href="#{pageStyle ? site[pageStyle].bootstrap_css_url : site.bootstrap_css_url}#{site.minified}.css" rel="stylesheet" media="screen")
- else
  %link(rel="stylesheet/less" type="text/css" href="#{pageStyle ? site[pageStyle].bootstrap_css_url : site.bootstrap_css_url}#{site.minified}.less")


/ IE 6-8 support of HTML 5 elements
/[if lt IE 9]
  %script(src="#{site.jborg_js_url}/libs/html5/pre3.6/html5.min.js")

/ Defines the project favicon. Change these URLs to your specific project folder on static.jboss.org.

%link(rel="shortcut icon" href="#{site.project_images_url}/favicon.ico")
%link(rel="apple-touch-icon-precomposed" sizes="144x144" href="#{site.project_images_url}/apple-touch-icon-144x144-precomposed.png")
%link(rel="apple-touch-icon-precomposed" sizes="114x114" href="#{site.project_images_url}/apple-touch-icon-114x114-precomposed.png")
%link(rel="apple-touch-icon-precomposed" sizes="72x72" href="#{site.project_images_url}/apple-touch-icon-72x72-precomposed.png")
%link(rel="apple-touch-icon-precomposed" href="#{site.project_images_url}/apple-touch-icon-precomposed.png")

/ Defines the project banner. Change these URLs to your specific project folder on static.jboss.org
:css
  @media (min-width: 980px) {
    .banner { background-image: url(#{site.project_images_url}/#{site.project}-banner-1180px.png); height: 110px;  }
  }
  @media (max-width: 979px) {
    .banner { background-image: url(#{site.project_images_url}/#{site.project}-logo.png); background-repeat:no-repeat; background-position: center bottom; height: 60px; }
  }
  @media (max-width: 650px) {
    .banner { width: 100%; margin: 0px auto; }
  }
  @media (max-width: 450px) {
    .banner { height: 90px; }
  }

%script(src="#{site.jborg_js_url}/libs/jquery/jquery-1.9.1#{site.minified}.js")
- if page.javascripts
  - page.javascripts.each do |javascript|
    %script{:src=>javascript, :type=>'text/javascript'}

- if !(site.profile.eql?("staging") or site.profile.eql?("production"))
  %script(src="/javascripts/less-1.4.1.min.js")

:css
  /* adjusting the vertical spacing for when a stickynav is engaged */
  .breadcrumb-fixed > .active {
    color: #8c8f91;
  }
  .breadcrumb-fixed {
    margin: 70px 0 10px;
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
  }

  .breadcrumb-fixed > li {
    display: inline-block;
  }