%title #{page.real_page.title ? page.real_page.title : page.real_page.simple_name.capitalize } · #{site.title}
%meta(charset="utf-8")
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
%meta(name="description" content="#{page.description}")
%meta(name="author" content="#{page.author}")

- pageStyle = page.style ;
%link(href="#{pageStyle ? site[pageStyle].bootstrap_css_url : site.bootstrap_css_url}#{site.minified}.css" rel="stylesheet" media="screen")
/ IE 6-8 support of HTML 5 elements
/[if lt IE 9]
  %script(src="#{site.jborg_js_url}/libs/html5/pre3.6/html5.min.js")

/ Defines the project favicon. Change these URLs to your specific project folder on static.jboss.org.

%link(rel="shortcut icon" href="#{site.project_images_url}/favicon.ico")
%link(rel="apple-touch-icon-precomposed" sizes="144x144" href="#{site.project_images_url}/apple-touch-icon-144x144-precomposed.png")
%link(rel="apple-touch-icon-precomposed" sizes="114x114" href="#{site.project_images_url}/apple-touch-icon-114x114-precomposed.png")
%link(rel="apple-touch-icon-precomposed" sizes="72x72" href="#{site.project_images_url}/apple-touch-icon-72x72-precomposed.png")
%link(rel="apple-touch-icon-precomposed" href="#{site.project_images_url}/apple-touch-icon-precomposed.png")

/ Defines the project banner. Change these URLs to your specific project folder on static.jboss.org
:css
  @media (min-width: 980px) {
    .banner { background-image: url(#{site.project_images_url}/#{site.project}-banner-1180px.png); height: 110px;  }
  }
  @media (max-width: 979px) {
    .banner { background-image: url(#{site.project_images_url}/#{site.project}-logo.png); background-repeat:no-repeat; height: 60px; }
  }
  @media (max-width: 650px) {
    .banner { width: 200px; margin: 0px auto; }
  }

%script(src="#{site.jborg_js_url}/libs/jquery/jquery-1.9.1#{site.minified}.js")
- if page.javascripts
  - page.javascripts.each do |javascript|
    %script{:src=>javascript, :type=>'text/javascript'}
