#accordion1.panel-group
  .panel.panel-docnav
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion1,#accordion2,#accordion3,#accordion4,#accordion5", "data-toggle" => "collapse", :href => "#collapse1"}
          Get Started
    #collapse1.panel-collapse.collapse{:class=>"#{'in' if page.real_page.output_path.start_with?('/docs/index.html','/docs/concepts','/docs/tutorial','/docs/install','/docs/embedded','/docs/monitoring','/docs/logging','/docs/releases')}"}<
      .panel-body
        %ul.list-group
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/concepts') }" }<
            %a(href="/docs/concepts") Concepts
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/tutorial') }" }<
            %a(href="/docs/tutorial") Tutorial
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/install') }" }<
            %a(href="/docs/install") Installing Debezium
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/embedded') }" }<
            %a(href="/docs/embedded") Embedding Debezium
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/monitoring') }" }<
            %a(href="/docs/monitoring") Monitoring Debezium
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/releases') }" }<
            %a(href="/docs/releases") Releases

#accordion2.panel-group
  .panel.panel-docnav
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion1,#accordion2,#accordion3,#accordion4,#accordion5", "data-toggle" => "collapse", :href => "#collapse2"}
          Configuration
    #collapse2.panel-collapse.collapse{:class=>"#{'in' if page.real_page.output_path.start_with?('/docs/configuration') }" }<
      .panel-body
        %ul.list-group
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/configuration/logging') }" }<
            %a(href="/docs/configuration/logging") Logging
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/configuration/avro') }" }<
            %a(href="/docs/configuration/avro") Avro Serialization
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/configuration/topic-routing') }" }<
            %a(href="/docs/configuration/topic-routing") Topic Routing

#accordion3.panel-group
  .panel.panel-docnav
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion1,#accordion2,#accordion3,#accordion4,#accordion5", "data-toggle" => "collapse", :href => "#collapse3"}
          Connectors
    #collapse3.panel-collapse.collapse{:class=>"#{'in' if page.real_page.output_path.start_with?('/docs/connectors') }" }<
      .panel-body
        %ul.list-group
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/connectors/mysql') }" }<
            %a(href="/docs/connectors/mysql") MySQL
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/connectors/mongodb') }" }<
            %a(href="/docs/connectors/mongodb") MongoDB
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/connectors/postgresql') }" }<
            %a(href="/docs/connectors/postgresql") PostgreSQL
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/connectors/oracle') }" }<
            %a(href="/docs/connectors/oracle") Oracle

#accordion4.panel-group
  .panel.panel-docnav
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion1,#accordion2,#accordion3,#accordion4,#accordion5", "data-toggle" => "collapse", :href => "#collapse4"}
          How it works
    #collapse4.panel-collapse.collapse{:class=>"#{'in' if page.real_page.output_path.start_with?('/docs/faq','/docs/architecture','/docs/features') }" }<
      .panel-body
        %ul.list-group
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/faq') }" }<
            %a(href="/docs/faq") FAQ
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/architecture') }" }<
            %a(href="/docs/architecture") Debezium Architecture
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/features') }" }<
            %a(href="/docs/features") Debezium Features

#accordion5.panel-group
  .panel.panel-docnav
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion1,#accordion2,#accordion3,#accordion4,#accordion5", "data-toggle" => "collapse", :href => "#collapse5"}
          Contribute
    #collapse5.panel-collapse.collapse{:class=>"#{'in' if page.real_page.output_path.start_with?('/docs/contribute','/docs/code-of-conduct') }" }<
      .panel-body
        %ul.list-group
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/contribute') }" }<
            %a(href="/docs/contribute") Contribute to Debezium
          %li.list-group-item{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/code-of-conduct') }" }<
            %a(href="/docs/code-of-conduct") Code of Conduct
          %li.list-group-item
            %a(href="https://twitter.com/debezium") Twitter
          %li.list-group-item
            %a(href="https://gitter.im/debezium/dev") Chat
          %li.list-group-item
            %a(href="https://github.com/debezium/") Code
          %li.list-group-item
            %a(href="https://issues.jboss.org/projects/DBZ/issues") Issues
