- active_series = site.release_series.nil? ? nil : site.release_series.values.select{|s| s.displayed && !s.hidden}
- releases_active = false
- active_series.each do |series|
  - if page.real_page.output_path.start_with?("/docs/#{series.version}")
    - releases_active = true

.doc-pills
  %ul.nav.nav-pills.nav-stacked
    %li.item.dropdown
      %a(href="#") Documentation
      .icon
        %span.caret-right
      %ul.dropdown-menu.nav.nav-pills.nav-stacked
        - unless active_series.nil? || active_series.empty?
          - latest_stable_marked = false
          - active_series.each do |series|
            %li.item{:class => "#{'active' if releases_active && page.real_page.output_path.start_with?("/documentation/debezium/#{series.version}/")}"}
              %a{:href => "/documentation/debezium/#{series.version}/"}
                .version
                  #{series.version}
                - if !latest_stable_marked
                  .version-label
                    - release = series.releases[0]
                    %span.label{:class => "#{release.stable ? 'label-stable' : 'label-development'}"}
                      #{release.stable ? 'latest stable' : 'development'}
                    - if !latest_stable_marked && release.stable
                      - latest_stable_marked = true
    %li.item.dropdown{:class => "#{'active' if releases_active}"}
      %a(href="#") Releases
      .icon
        %span.caret-right
      %ul.dropdown-menu.nav.nav-pills.nav-stacked
        %li.item
          %a(href="/docs/releases-overview") Overview
        - unless active_series.nil? || active_series.empty?
          - latest_stable_marked = false
          - active_series.each do |series|
            %li.item{:class => "#{'active' if releases_active && page.real_page.output_path.start_with?("/docs/#{series.version}/")}"}
              %a{:href => "/docs/#{series.version}/"}
                .version
                  #{series.version}
                - if !latest_stable_marked
                  .version-label
                    - release = series.releases[0]
                    %span.label{:class => "#{release.stable ? 'label-stable' : 'label-development'}"}
                      #{release.stable ? 'latest stable' : 'development'}
                    - if !latest_stable_marked && release.stable
                      - latest_stable_marked = true
    %li.item.dropdown{:class => "#{'active' if page.real_page.output_path.start_with?('/docs/concepts', '/docs/architecture', '/docs/features', '/docs/embedded', '/docs/openshift', '/docs/amq-streams', '/docs/monitoring', '/docs/online-resources')}"}
      %a(href="/docs/online-resources") Resources on the Web
      .icon
        %i.icon-globe
    %li.item{:class => "#{'active' if page.real_page.output_path.start_with?('/docs/roadmap')}"}
      %a(href="/docs/roadmap") Roadmap
      .icon
        %i.icon-road
    %li.item{:class => "#{'active' if page.real_page.output_path.start_with?('/docs/contribute')}"}
      %a(href="/docs/contribute") Contribute
      .icon
        %i.icon-code
    %li.item{:class => "#{'active' if page.real_page.output_path.start_with?('/docs/code-of-conduct')}"}
      %a(href="/docs/code-of-conduct") Code of Conduct
      .icon
        %i.icon-file
    %li.item{:class => "#{'active' if page.real_page.output_path.start_with?('/docs/faq')}"}
      %a(href="/docs/faq") FAQ
      .icon
        %i.icon-question-sign
%p
.doc-pills
  %ul.nav.nav-pills.nav-stacked
    %li.item
      %a(href="http://www.github.com/debezium/") Source Code
      .icon
        %i.icon-github
    %li.item
      %a(href="http://issues.jboss.org/projects/DBZ/issues") Issues
      .icon
        %i.icon-tasks
    %li.item
      %a(href="http://www.twitter.com/debezium/") Twitter
      .icon
        %i.icon-twitter
    %li.item
      %a(href="http://www.gitter.im/debezium/user") Chat
      .icon
        %i.icon-comments
    %li.item
      %a(href="https://groups.google.com/forum/#!forum/debezium") Mailing List
      .icon
        %i.icon-group
