.navbar.navbar-inverse.navbar-fix
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-1")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="/")
        Debezium
      -#  %img{src: "#{site.project_images_url}/example-logo.png", alt:"Debezium", width: "160px"}
    .collapse.navbar-collapse#navbar-1
      %ul.nav.navbar-nav.pull-right
        %li{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/faq/') }" }<
          %a(href="#{site.base_url}/docs/faq") FAQ
        %li{:class=>"#{'active' if page.real_page.output_path.start_with?('/docs/') && ! page.real_page.output_path.start_with?('/docs/faq/') }" }<
          %a(href="#{site.base_url}/docs") Docs
        %li{:class=>"#{'active' if page.real_page.output_path.start_with?('/community/') }" }<
          %a(href="#{site.base_url}/community") Community
        %li{:class=>"#{'active' if page.real_page.output_path.start_with?('/blog/') }" }<
          %a(href="#{site.base_url}/blog") Blog
