.navbar.navbar-inverse.navbar-fix#sticky-navbar
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-1")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse#navbar-1
      %ul.nav.navbar-nav
        %li{:class=>"#{'active' if page.output_path.start_with?('/index') }" }<
          %a(href="#{site.base_url}/index.html") Home
        %li{:class=>"#{'active' if page.output_path.start_with?('/downloads') }" }<
          %a(href="#{site.base_url}/downloads.html") Downloads
        %li{:class=>"#{'active' if page.output_path.start_with?('/docs') }" }<
          %a(href="#{site.base_url}/docs.html") Docs
        %li.dropdown
          %a.dropdown-toggle(href="#" data-toggle="dropdown")<
            = precede 'Community ' do
              %b.caret>
          %ul.dropdown-menu
            %li<
              %a(href="#") Overview
            %li<
              %a(href="#") Wiki
            %li<
              %a(href="#") User Forum
            %li<
              %a(href="#") Mailing Lists
            %li<
              %a(href="#") Chat
            %li<
              %a(href="#") Blog
        %li{:class=>"#{'active' if page.output_path.start_with?('/issues') }" }<
          %a(href="#{site.base_url}/issues.html") Issues
        %li{:class=>"#{'active' if page.output_path.start_with?('/source') }" }<
          %a(href="#{site.base_url}/source.html") Source Code
        %li{:class=>"#{'active' if page.output_path.start_with?('/build') }" }<
          %a(href="#{site.base_url}/build.html") Build
        %li.dropdown
          %a.dropdown-toggle(href="#" data-toggle="dropdown")<
            = precede 'Follow Us ' do
              %b.caret>
          %ul.dropdown-menu.projectsocialmedia
            %li<
              %a(href="#")<
                %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png")
            %li<
              %a(href="#")<
                %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_googleplus.png")
            %li<
              %a(href="#")<
                %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_facebook.png")
            %li<
              %a(href="#")<
                %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_youtube.png")
            %li<
              %a(href="#")<
                %img(src="#{site.jborg_images_url}/common/socialmedia_icon40_linkedin.png")
        %li.dropdown
          %a.dropdown-toggle(href="#" data-toggle="dropdown")<
            = precede 'Layouts ' do
              %b.caret>
          %ul.dropdown-menu
            %li<
              %a(href="#{site.base_url}/rightcol.html") Right Column
            %li<
              %a(href="#{site.base_url}/leftcol.html") Left Column
            %li<
              %a(href="#{site.base_url}/bothcol.html") 3 Columns
        %li.divider

      %form.navbar-form.navbar-right
        %input.form-control(type="text" placeholder="Search")

= breadcrumb(page.real_page.output_path)
