.navbar.navbar-default#navbar-fix
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed(data-toggle="collapse" data-target=".navbar-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand(href="#") Project name
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{:class=>"#{'active' if page.output_path.start_with?('/#') }" }<
          %a(href="#{site.base_url}/#.html") Subproject1
        %li{:class=>"#{'active' if page.output_path.start_with?('/#') }" }<
          %a(href="#{site.base_url}/#.html") Subproject2
        %li{:class=>"#{'active' if page.output_path.start_with?('/#') }" }<
          %a(href="#{site.base_url}/#.html") Subproject3
        %li{:class=>"#{'active' if page.output_path.start_with?('/#') }" }<
          %a(href="#{site.base_url}/#.html") Subproject4
        %li{:class=>"#{'active' if page.output_path.start_with?('/#') }" }<
          %a(href="#{site.base_url}/#.html") Subproject5