.navbar#navbar-fix
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="#") Project name
      .nav-collapse.collapse
        %ul.nav
          %li{:class=>"#{'active' if page.output_path.start_with?('/#') }" }<
            %a(href="#{site.base_url}/#.html") Subproject1
          %li{:class=>"#{'active' if page.output_path.start_with?('/#') }" }<
            %a(href="#{site.base_url}/#.html") Subproject2
          %li{:class=>"#{'active' if page.output_path.start_with?('/#') }" }<
            %a(href="#{site.base_url}/#.html") Subproject3
          %li{:class=>"#{'active' if page.output_path.start_with?('/#') }" }<
            %a(href="#{site.base_url}/#.html") Subproject4
          %li{:class=>"#{'active' if page.output_path.start_with?('/#') }" }<
            %a(href="#{site.base_url}/#.html") Subproject5
