%a.btn.btn-primary.btn-stable.btn-block{:class => (defined? page["btnsize"]) ? "#{page["btnsize"]}" : nil, :style => "width: 190px;"}(href="/releases/#{site.latest_stable_series.version}/")
  %div
    %div{:style => "float: left;"}Latest stable (#{site.latest_stable_series.version})
    %div{:style => "float: right;"}
      %span.icon-arrow-right
    %div{:style => "clear: both;"}
- if site.latest_stable_series.version != site.latest_series.version
  %a.btn.btn-primary.btn-development.btn-block{:class => (defined? page["btnsize"]) ? "#{page["btnsize"]}" : nil, :style => "width: 190px;"}(href="/releases/#{site.latest_series.version}/")
    %div
      %div{:style => "float: left;"}Development (#{site.latest_series.version})
      %div{:style => "float: right;"}
        %span.icon-arrow-right
      %div{:style => "clear: both;"}
