- series = page.series
- release = series.releases[0]

- link = "/releases/#{series.version}/"
- if page.real_page.output_path.start_with?('/documentation')
  - link = "/documentation/reference/#{series.version}/"

.col-sm-4
  .series.raised
    .series-banner
      %h4.series-label
        - if release.stable
          .span.label.label-stable
            stable
        - else
          .span.label.label-development
            development
    .clear
    %h3.version= series.version
    %h6.version-date= release.date
    .description= release.summary.nil? ? series.summary : release.summary
    .more-info
      %a.btn.btn-primary{:href => "#{link}"}
        More info&nbsp;&nbsp;&nbsp;&nbsp;
        %span.icon-arrow-right
