---
layout: blog
title: Debezium Blog Archive
title_link: /archive/
body_class: blog index
---
- page.posts.each do |post|
  %ul{:class=>'post-list'}
    %li.post
      %span
        - if post.author
          = post.date.strftime('%B %d, %Y') + " by " + lookup_name(post.author);
        - else
          = post.date.strftime('%B %d, %Y');
      %h2{:class=>'post-link'}
        %a{:href=>post.url}= post.title
      %p
        = post.summary
  %hr
%ul.pager
  %li.previous{:class=>('disabled' unless page.posts.previous_page)}
    %a{:href=>page.posts.previous_page ? page.posts.previous_page.url : '#'} &laquo; Previous
  %li.pages Page #{page.posts.current_page_index + 1} of #{page.posts.pages.size}
  %li.next{:class=>('disabled' unless page.posts.next_page)}
    %a{:href=>page.posts.next_page ? page.posts.next_page.url : '#'} Next &raquo;