---
layout: doc
title: Debezium Releases Overview
---

%h3.section
  Series
.row
  - active_series = site.release_series.nil? ? nil : site.release_series.values.select{|s| s.displayed && !s.hidden}
  - unless active_series.nil? || active_series.empty?
    - active_series.each do |series|
      = partial( 'series-box.html.haml', { "real_page" => page, :series => series } )
  - else
    %p There are currently no active series.

- inactive_series = site.release_series.nil? ? nil : site.release_series.values.select{|s| !s.displayed && !s.hidden}
- unless inactive_series.nil? || inactive_series.empty?
  %a.btn.btn-default.older-series.collapsed(data-toggle = "collapse" href="#older-series")
    %span.show-older See older series
    %span.hide-older Hide older series
  #older-series.row.collapse
    .row.empty
    - inactive_series.each do |series|
      = partial( 'series-box.html.haml', { "real_page" => page, :series => series } )

%p
%h3.section
  Tested Versions

%table.table.compatibility
  %tr.header
    %td
    - active_series.each do |series|
      %td= series.version
  - site.integrations.each_pair do |integration_id, integration|
    %tr.data
      %td= integration["name"]
      - active_series.each do |series|
        - compatibility = series.compatibility[integration_id]
        %td
          - if compatibility == nil
            N/A
          - else
            #{compatibility.version}
%h6.table-note
  The Debezium connectors have been tested with the versions of Java, Apache Kafka (Connect), and databases listed above.
  Note that Debezium might also be compatible with other database versions not listed here.
