---
layout: project
title: Project Navigation
---

/ =========================Masthead=========================
.navbar.navbar-inverse#navbar-fix
	.navbar-inner
		.container
			%a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.nav-collapse.collapse
				%ul.nav
					%li.active<
						%a(href="index.html") Home
					%li<
						%a(href="downloads.html") Downloads
					%li<
						%a(href="docs.html") Docs
					%li.dropdown
						%a.dropdown-toggle(href="#" data-toggle="dropdown")<
							= precede 'Community ' do
								%b.caret>
						%ul.dropdown-menu
							%li<
								%a(href="#") Wiki
							%li<
								%a(href="#") User Forum
							%li<
								%a(href="#") Mailing Lists
							%li<
								%a(href="#") Chat
							%li<
								%a(href="#") Blog
					%li<
						%a(href="issues.html") Issues
					%li<
						%a(href="source.html") Source Code
					%li<
						%a(href="build.html") Build
					%li.dropdown
						%a.dropdown-toggle(href="#" data-toggle="dropdown")<
							= precede 'Follow Us ' do
								%b.caret>
						%ul.dropdown-menu.projectsocialmedia
							%li<
								%a(href="#")<
									%img(src="#{site.jborg_images_url}/common/socialmedia_icon40_twitter.png")
							%li<
								%a(href="#")<
									%img(src="#{site.jborg_images_url}/common/socialmedia_icon40_googleplus.png")
							%li<
								%a(href="#")<
									%img(src="#{site.jborg_images_url}/common/socialmedia_icon40_facebook.png")
							%li<
								%a(href="#")<
									%img(src="#{site.jborg_images_url}/common/socialmedia_icon40_youtube.png")
							%li<
								%a(href="#")<
									%img(src="#{site.jborg_images_url}/common/socialmedia_icon40_linkedin.png")
					%li.divider

				%ul.nav.pull-right
					%li
						%form.navbar-search
							%input.search-query#projectsearch(type="text" placeholder="Search")

~ content
