!!! 5
%html(lang="en")
	%head
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1.0")
		%meta(name="description" content="#{page.description}")
		%meta(name="author" content="#{page.author}")
		%title #{page.title} · #{site.title}

		/ IE 6-8 support of HTML 5 elements
		/[if lt IE 9]
			%script(src="#{site.jborg_js_url}/libs/html5/pre3.6/html5.min.js")

		%link(href="#{site.bootstrap_css_url}/bootstrap-#{page.style}#{site.minified}.css" rel="stylesheet" media="screen")
		
	%body(data-spy="scroll" data-target=".bs-docs-sidebar")
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					%a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					.nav-collapse.collapse
						%ul.nav
							%li<
								%a(href="#{site.base_url}/index.html") Home
							%li<
								%a(href="#{site.base_url}/getStarted.html") Get Started
							%li<
								%a(href="#{site.base_url}/extend.html") Extend
							%li.dropdown
								%a.dropdown-toggle(data-toggle="dropdown" href="#")<
									= precede 'Gallery ' do
										%b.caret>
								%ul.dropdown-menu
									%li<
										%a(href="#{site.base_url}/default/swatch.html") Default
									%li.divider
									%li<
										%a(href="#{site.base_url}/community/swatch.html") Community

						%ul.nav.pull-right
							%li<
								%a(rel="tooltip" target="_blank" href="http://twitter.github.com/bootstrap" title="Bootstrap")<
									Built With Bootstrap

		.container(style="padding-top: 110px;")
			~ content

		.company
			%a(href="http://www.redhat.com/")<
				%img(src="#{site.jborg_images_url}/common/redhat_logo.png")

		%script(src="#{site.jborg_js_url}/libs/jquery/1.8.1/jquery#{site.minified}.js")
		%script(src="#{site.jborg_js_url}/libs/prettify/188.0.0/prettify.min.js")
		%script(src="#{site.jborg_js_url}/libs/holder/1.9/holder.js")
		%script Holder.add_theme("community", { background: "#eee", foreground: "#aaa", size: 12 })
		%script(src="#{site.bootstrap_js_url}/bootstrap-community#{site.minified}.js")
