---
layout: project
---

#equalHeightsLayout
  #leftdocnav.col-sm-3
    = partial( 'leftcol-blog.html.haml' )
  #maincol.col-sm-9
    .row
      .col-md-8.col-md-offset-2
        .text-right
          %h3
            Subscribe
            %a.rss{:href => "/blog.atom"}
              %i.icon-rss
        = partial('post.html.haml', {"post" => page})
        - post = page["post"]
        - if page.author
          - authors = page.author.split(",");
          - authors.each do |nick|
            - author = site.authors[nick.strip]
            - if author
              .well
                .row
                  .col-md-8
                    %h2<= author.name;
                    - if author.key?(:role)
                      %p
                        %em<= author.role
                    %p
                      %span.bio-size<=author.bio
                    - if author.key?(:location)
                      %p.bio-size
                        %strong Location:&nbsp;
                        = author.location
                    - if author.key?(:occupation)
                      %p.bio-size
                        %strong Occupation:&nbsp;
                        = author.occupation
                    %p.bio-size
                      - if author.key?(:twitter)
                        %a{:href => "https://twitter.com/#{author.twitter}"}
                          %i.icon-twitter
                        &nbsp;
                      - if author.key?(:github)
                        %a{:href => "https://github.com/#{author.github}"}
                          %i.icon-github
                        &nbsp;
                      - if author.key?(:linkedin)
                        %a{:href => "https://www.linkedin.com/in/#{author.linkedin}"}
                          %i.icon-linkedin
                        &nbsp;
                      - if author.key?(:website)
                        %a{:href => "#{author.website}"}
                          %i.icon-external-link
                        &nbsp;
                  .col-md-4
                    - if author.key?(:avatar)
                      %img.img-responsive.pull-right.portrait{:alt => "", :src=>"/images/#{author.avatar}"}
        .comments
          = page.disqus_comments

-#.row
-#  .col-sm-3.well
-#    = partial( page.leftcol_partial.nil? ? 'leftcol-blog.html.haml' : page.leftcol_partial  , { "real_page" => page } )
-#
-#  .col-sm-9
-#    = partial('post.html.haml', {"post" => page})
