---
layout: project
---

- active_series = site.release_series.nil? ? nil : site.release_series.values.select{|s| s.displayed && !s.hidden}

- url_parts = page.url.split( '/' )
- url_parts.shift()
- url_parts.shift()
- url_parts.shift()
- url = nil
- url_parts.each do |part|
  - url = (url.nil? ? "/" : url) + part + "/"

%div
  #leftdocnav.col-sm-3
    = partial( page.leftcol_partial.nil? ? 'leftcol-doc.html.haml' : page.leftcol_partial  , { "real_page" => page } )

  #maincol.col-sm-9
    - unless page.title.nil? || page.title.empty?
      - unless page.documentation_version.nil? || page.documentation_version.empty?
        .breadcrumb-version-selector{:style => "background-color: rgba(245, 245, 245); margin-bottom: 22px; margin-top: 15px;"}
          %div{:style => "float: left;"}
            %ol.breadcrumb{:style => "margin-bottom: 0px;"}
              %li
                %a{:href => "/docs/releases-overview/"}
                  Releases
              %li
                %a{:href => "/docs/#{page.documentation_version}/"}
                  #{page.documentation_version}
              %li.active
                = page.title
          %div{:style => "float: right;"}
            .dropdown
              %button.btn.btn-secondary.dropdown-toggle(data-toggle = "dropdown")
                Version #{page.documentation_version}
                %span.caret
              %ul.dropdown-menu.dropdown-menu-right
                - unless active_series.nil? || active_series.empty?
                  - active_series.each do |series|
                    %li.item{:class => "#{'active' if series.version == page.documentation_version}"}
                      %a{:href => "/docs/#{series.version}#{url}"}
                        Version #{series.version}
          %div{:style => "clear: both;"}
      %h1.section.full
        = page.title
    ~ content
