!!! 5
%html(lang="en")
  %head
    = partial( page.head_partial.nil? ? 'head.html.haml' : page.head_partial , { "real_page" => page } )
  %body
    %div{:id => "#{page.subproject ? 'subproject' : ''}"}
      / begin accesibility skip to top
      %ul#top.visuallyhidden
        %li
          %a{:accesskey => "n", :href => "#nav", :title => "Skip to navigation"} Skip to navigation
        %li
          %a{:accesskey => "c", :href => "#page", :title => "Skip to content"} Skip to content
      .container#content

        .dropup
          %div#ajbossproject A JBoss Project
          %a#tab.tabnav-closed{:href => "#"} Red Hat
          %script
            window.addEventListener('load', function() { renderTabzilla("#{site.project_name}","#{site.project}" , false ) }, false);

        - if page.subproject
          = partial( page.navparent_partial.nil? ? 'navparent.html.haml' : page.navparent_partial , { "real_page" => page } )

        = partial( page.banner_partial.nil? ? 'banner.html.haml' : page.banner_partial , { "real_page" => page } )

        = partial( page.nav_partial.nil? ? 'nav.html.haml' : page.nav_partial , { "real_page" => page } )

        ~ content

      = partial( page.projectfooter_partial.nil? ? 'projectfooter.html.haml' : page.projectfooter_partial , { "real_page" => page } )

      = partial( page.companyfooter_partial.nil? ? 'companyfooter.html.haml' : page.companyfooter_partial , { "real_page" => page } )

      %span.backToTop
        %a{:href => "#top"} back to top

      %script(src="#{pageStyle ? site[pageStyle].bootstrap_js_url : site.bootstrap_js_url}#{site.minified}.js")
      - if page.bottom_javascripts
        - page.bottom_javascripts.each do |javascript|
          %script{:src=>javascript, :type=>'text/javascript'}

      - if site.profile.eql?("staging") or site.profile.eql?("production")
        :plain
          <!-- begin eloqua tracking -->
          <script type='text/javascript' language='JavaScript' src='http://www.redhat.com/j/elqNow/elqCfg.js'></script>
          <script type='text/javascript' language='JavaScript' src='http://www.redhat.com/j/elqNow/elqImg.js'></script>
          <!-- end eloqua tracking -->

          <div id="oTags">
            <script type="text/javascript" src="//www.#{site.profile.eql?('staging') ? 'stage.' : ''}redhat.com/j/s_code.js"></script>
            <script type="text/javascript"><!--
            var coreUrl = encodeURI(document.URL.split("?")[0]).replace(/-/g," ");
            var urlSplit = coreUrl.toLowerCase().split(/\//);
            var urlLast = urlSplit[urlSplit.length-1];
            var pageNameString = "";
            var siteName = "";
            var minorSectionIndex = 3
            if (urlLast == "") {
                urlSplit.splice(-1,1);
            }
            if (urlLast.search(/\./) >= 0) {
                if (urlLast == "index.html") {
                    urlSplit.splice(-1,1);
                }
                else {
                    urlSplit[urlSplit.length-1] = urlLast.split(".").splice(0,1);
                }
            }
            siteName = urlSplit[2].split(".")[1];
            s.prop14 = s.eVar27 = siteName || "";
            s.prop15 = s.eVar28 = urlSplit[minorSectionIndex] || "";
            s.prop16 = s.eVar29 = urlSplit[minorSectionIndex+1] || "";
            pageNameString = urlSplit.splice(3).join(" | ");
            s.pageName = "jboss | community | " + siteName + " | " + pageNameString;
            s.server = "jboss";
            s.channel = "jboss | community";
            s.prop4 = s.eVar23 = encodeURI(document.URL);
            s.prop21 = s.eVar18 = coreUrl;
            s.prop2 = s.eVar22 = "en";
            s.prop3 = s.eVar19 = "us";
            //--></script>
            <script type="text/javascript" src="//www.#{site.profile.eql?('staging') ? 'stage.' : ''}redhat.com/j/rh_omni_footer.js"></script>
            <script language="JavaScript" type="text/javascript"><!--
            if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
            //--></script>
            <noscript><a href="http://www.omniture.com" title="Web Analytics"><img
            src="https://smtrcs.redhat.com/b/ss/redhatcom,redhatglobal/1/H.25.4--NS/0?[AQB]&cdp=3&[AQE]"
            height="1" width="1" border="0" alt="" /></a></noscript>
          </div>
          <!-- End oTags -->

          <!-- Google Analytics part -->
          <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
          try {
          var pageTracker = _gat._getTracker("UA-10656779-1");
          pageTracker._trackPageview();
          } catch(err) {}</script>

        - if site.google_analytics
          = google_analytics_async
