
!!! 5
%html(lang="en")
  %head
    = partial( page.head_partial.nil? ? 'head.html.haml' : page.head_partial , { "real_page" => page } )
  %body
    / begin accesibility skip to top
    %ul#top.visuallyhidden
      %li
        %a{:accesskey => "n", :href => "#nav", :title => "Skip to navigation"} Skip to navigation
      %li
        %a{:accesskey => "c", :href => "#page", :title => "Skip to content"} Skip to content
    .container#content

      .dropup
        %a#tab.tabnav-closed{:href => "https://www.jboss.org"} Red Hat

      = partial( page.banner_partial.nil? ? 'banner.html.haml' : page.banner_partial , { "real_page" => page } )

      = partial( page.nav_partial.nil? ? 'nav.html.haml' : page.nav_partial , { "real_page" => page } )

      ~ content

    = partial( page.projectfooter_partial.nil? ? 'projectfooter.html.haml' : page.projectfooter_partial , { "real_page" => page } )

    = partial( page.companyfooter_partial.nil? ? 'companyfooter.html.haml' : page.companyfooter_partial , { "real_page" => page } )

    %span.backToTop
      %a{:href => "#top"} back to top

    %script(src="#{pageStyle ? site[pageStyle].bootstrap_js_url : site.bootstrap_js_url}#{site.minified}.js")
    - if page.bottom_javascripts
      - page.bottom_javascripts.each do |javascript|
        %script{:src=>javascript, :type=>'text/javascript'}
