!!! 5
%html(lang="en")
	= partial( page.head_partial.nil? ? 'head.html.haml' : page.head_partial )

	%body
		.container#content

			<a href="https://www.mozilla.org/" id="tab" class="tabnav-closed">jboss.org</a>

			= partial( page.banner_partial.nil? ? 'banner.html.haml' : page.banner_partial )

			= partial( page.nav_partial.nil? ? 'nav.html.haml' : page.nav_partial )

			~ content

		= partial( page.projectfooter_partial.nil? ? 'projectfooter.html.haml' : page.projectfooter_partial )

		= partial( page.companyfooter_partial.nil? ? 'companyfooter.html.haml' : page.companyfooter_partial )

		%script(src="#{pageStyle ? site[pageStyle].bootstrap_js_url : site.bootstrap_js_url}#{site.minified}.js")
		- if page.bottom_javascripts
			- page.bottom_javascripts.each do |javascript|
				%script{:src=>javascript, :type=>'text/javascript'}
