!!! 5
%html(lang="en")
	= partial( 'head.html.haml' )

	%body
		.container#content

			= partial( 'banner.html.haml' )

			= partial( 'nav.html.haml')

			~ content

		= partial( 'projectfooter.html.haml' )

		= partial( 'companyfooter.html.haml' )

		%script(src="#{pageStyle ? site[pageStyle].bootstrap_js_url : site.bootstrap_js_url}#{site.minified}.js")
		- if page.bottom_javascripts
			- page.bottom_javascripts.each do |javascript|
				%script{:src=>javascript, :type=>'text/javascript'}
