---
layout: doc
hide_page_header_title: true
---

- active_series = site.release_series.nil? ? nil : site.release_series.values.select{|s| s.displayed && !s.hidden}
- series = site.release_series[page.debezium_version]

.breadcrumb-version-selector{:style => "background-color: rgba(245, 245, 245); margin-bottom: 22px; margin-top: 15px;"}
  %div{:style => "float: left;"}
    %ol.breadcrumb{:style => "margin-bottom: 0px;"}
      %li
        %a{:href => "/releases/"}
          Releases
      %li.active
        #{page.debezium_version}
  %div{:style => "float: right;"}
    .dropdown
      %button.btn.btn-secondary.dropdown-toggle(data-toggle = "dropdown")
        Version #{page.debezium_version}
        %span.caret
      %ul.dropdown-menu.dropdown-menu-right
        - unless active_series.nil? || active_series.empty?
          - active_series.each do |series|
            %li.item{:class => "#{'active' if series.version == page.debezium_version}"}
              %a{:href => "/releases/#{series.version}/"}
                Version #{series.version}
  %div{:style => "clear: both;"}

%div{:style => "padding-bottom: 2px; border-bottom: 1px solid rgb(204,204,204); margin-bottom: 11px; display: table; width: 100%;"}
  %div{:style => "display: table-cell; width: 30%;"}
    %span{:style => "font-size: 39px; line-height: 1; white-space: nowrap;"}
      Debezium Release Series #{page.debezium_version}
  %div{:style => "display: table-cell; width: 70%; vertical-align: middle; text-align: right;"}
    %h4{:style => "margin: 0px; padding: 0px;"}
      %span.label{:class => "#{series.releases[0].stable ? 'label-stable' : 'label-development'}"}
        #{series.releases[0].stable ? 'latest stable' : 'development'}

#releases-toc.raised
  #releases-toctitle
    Quick links
  %ul
    %li
      %a.item(href="#compatibility")
        Compatibility
    %li
      %a.item(href="#documentation")
        Documentation
    %li
      %a.item(href="#whats-new")
        What's new
    %li
      %a.item(href="#installation")
        Installation
    %li
      %a.item(href="#releases")
        Releases in this series

%h3.section{:id => "compatibility"} Tested Versions
%table.releases-compatibility
  - site.integrations.each_pair do |integration_id, integration|
    %tr
      %td= integration["name"]
      %td
        - compatibility = series.compatibility[integration_id]
        = compatibility.nil? ? 'N/A' : compatibility.version

%p
  Not compatible with your requirements?  Have a look at the
  = succeed '.' do
    %a{:href => "/releases"} other series
  %br
  See the
  %a{:href => "https://kafka.apache.org/documentation/#upgrade"}
    Kafka documentation
  for compatibility with other versions of Kafka brokers.

%h3.section{:id => "documentation"} Documentation
%p
  Documentation for this specific series can be accessed below:
%p
  .btn-group
    %a.btn.btn-default{:href => "/documentation/reference/#{page.debezium_version}"}
      Documentation&nbsp;&nbsp;&nbsp;
      %span.icon-file

/ %h3.section{:id => "how-to-get-it"} How to get it
/ %p
/   Maven artifacts of Debezium are published to
/   = succeed '.' do
/     %a{:href => "https://search.maven.org"} Maven Central
/   %br
/   You can find the Maven coordinates of all artifacts through the link below:
/   .btn-group
/     %a.btn.btn-default{:href => "https://search.maven.org/search?q=g:io.debezium%20and%20v:#{page.debezium_version}*", :target => "_blank"}
/       Maven artifacts&nbsp;&nbsp;
/       %span.icon-tags
/ %p
/   More information about specific releases (announcements, download links) can be found
/   = succeed '.' do
/     %a{:href => "#releases"} below

%h3.section{:id => "whats-new"} What's new
~ content
%p
  For more details on breaking changes, bugfixes, and new features see the
  = succeed '.' do
    %a{:href => "/releases/#{series.version}/release-notes"} release notes

%h3.section{:id => "installation"} Installation
%p
  If you need details on how to install Debezium, we've documented some of the most common ways in the
  = succeed '.' do
    %a{:href => "/documentation/reference/#{page.debezium_version}/install.html"} installation guide

%h3.section{:id => "releases"} Releases in this series
%p
  The following are all the releases/bugfixes within this series.
  - series.releases.each do |release|
    .row.series-releases
      .col-sm-3
        %h3.version
          %span.label{:class => "#{ release.stable ? 'label-stable' : 'label-development'}"}= release.version
        %h5.version-date
          %span.label.label-default{:style => "color: #656565;"}= release.date
      .col-sm-9
        %span= release.summary.nil? || release.summary.empty? ? series.summary : release.summary
        %div
          .btn-group
            %a.btn.btn-default{:href => "https://search.maven.org/search?q=g:io.debezium%20and%20v:#{release.version}*", :target => "_blank"}
              Maven artifacts&nbsp;&nbsp;
              %span.icon-tags
          .btn-group
            %a.btn.btn-default.dropdown-toggle(data-toggle = "dropdown")
              Downloads&nbsp;&nbsp;&nbsp;
              %span.caret
            %ul.dropdown-menu
              - if series.connectors.include?('mysql')
                %li
                  %a{:href => "https://repo1.maven.org/maven2/io/debezium/debezium-connector-mysql/#{release.version}/debezium-connector-mysql-#{release.version}-plugin.tar.gz"} MySQL Connector Plug-in
              - if series.connectors.include?('mongodb')
                %li
                  %a{:href => "https://repo1.maven.org/maven2/io/debezium/debezium-connector-mongodb/#{release.version}/debezium-connector-mongodb-#{release.version}-plugin.tar.gz"} MongoDB Connector Plug-in
              - if series.connectors.include?('postgresql')
                %li
                  %a{:href => "https://repo1.maven.org/maven2/io/debezium/debezium-connector-postgres/#{release.version}/debezium-connector-postgres-#{release.version}-plugin.tar.gz"} PostgreSQL Connector Plug-in
              - if series.connectors.include?('oracle')
                %li
                  %a{:href => "https://repo1.maven.org/maven2/io/debezium/debezium-connector-oracle/#{release.version}/debezium-connector-oracle-#{release.version}-plugin.tar.gz"} Oracle Connector Plug-in
              - if series.connectors.include?('sqlserver')
                %li
                  %a{:href => "https://repo1.maven.org/maven2/io/debezium/debezium-connector-sqlserver/#{release.version}/debezium-connector-sqlserver-#{release.version}-plugin.tar.gz"} SQL Server Connector Plug-in
          .btn-group
            %a.btn.btn-default{:href => "https://issues.jboss.org/issues/?jql=project%20%3D%20DBZ%20AND%20fixVersion%20in%20(#{release.version})%20ORDER%20BY%20updated", :target => "_blank"}
              Resolved issues&nbsp;&nbsp;&nbsp;
              %span.icon-tasks
          .btn-group
            %a.btn.btn-default{:href => "#{release.announcement_url}"}
              Announcement&nbsp;&nbsp;&nbsp;
              %span.icon-bullhorn
