<header class="header">
  <div id="rhbar">
      <a class="jbdevlogo" href="https://developers.redhat.com"></a>
      <a class="rhlogo" href="https://www.redhat.com"></a>
  </div>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{siteRootUrl}}/">
          <img src="/assets/images/color_white_debezium_type_600px.svg" style="height: 32px; margin-right: 14px;"/>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{siteRootUrl}}/documentation/faq">FAQ</a>
        <a class="navbar-item" href="{{siteRootUrl}}/documentation">DOCUMENTATION</a>
        <a class="navbar-item" href="{{siteRootUrl}}/releases">RELEASES</a>
        <a class="navbar-item" href="{{siteRootUrl}}/community">COMMUNITY</a>
        <a class="navbar-item" href="{{siteRootUrl}}/blog">BLOG</a>
      </div>
    </div>
  </nav>
</header>